<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Cassandra Playground</display-name>
  
  <context-param>
    <param-name>resteasy.scan</param-name>
    <param-value>false</param-value>
  </context-param>
  
  <listener>
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>
  
  <listener>
    <listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
  </listener>
  
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/v1</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/v1/*</url-pattern>
  </servlet-mapping>
</web-app>